body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    overflow: hidden;
}

.container {
    display: flex;
   height: 100vh;
}

.column1 {
  height: 100vh;
    width: 30%;
    overflow-y: none; /* Add this to make sure the content in column1 can scroll if it overflows */
    padding: 10px;
    box-sizing: border-box;
  
}

.column2 {
    flex: 1;
    overflow-y: auto; /* Add this to make sure the content in column2 can scroll if it overflows */
    padding: 10px;
    box-sizing: border-box;
  hight:100vh;
}

.box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.hihi {
  
}
.box3 {
    height: 65%; /* Adjust the height as needed */
    overflow-y: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 images per row */
    gap: 10px;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}
.filter {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: move; /* Change cursor to indicate draggable element */
    position: absolute; /* Make it draggable within the window */
    z-index: 1000; /* Make sure it stays on top of other elements */
}

.filter button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.filter button:hover {
    background-color: #ddd;
}