* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Victor Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8rem;
    height: 100%;
    overscroll-behavior-y: none;
}


::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}
  
.container {
    display: flex;
    height: 100vh;
}

.column-left {
    padding: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.column-right {
    padding: 10 10 10 0;
    width: 75%;
    overflow-y:hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Khi ở thiết bị di động với chiều rộng nhỏ hơn 768px */
@media (min-width: 334px) {
    .column-left {
        font-size: 15.5px;
    }

@media (max-width: 1024px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 100%;
    }
}

@media (min-width: 1180px) {
    .column-left {
        width: 30%;
    }
    .column-right {
        width: 70%;
    }
}

@media (min-width: 1182px) {
    .column-left {
        width: 25%;
    }
    .column-right {
        width: 75%;
    }
}

@media (min-width: 1280px) {
    .column-left {
        width: 27%;
    }
    .column-right {
        width: 73%;
    }
}

@media (min-width: 1440px) {
    .column-left {
        width: 24%;
    }
    .column-right {
        width: 76%;
    }
}

.image-grid {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}
.image-column {
    flex: 1;
    width: auto;
    height: 100vh;
    overflow-y: scroll;
}

.image-column img {
    width: 100%;
    margin-bottom: 10px; /* Tạo khoảng cách giữa các ảnh */
    display: block;
}

.image-grid img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.image-column:hover {
    overflow-y:auto;
}

.image-column::-webkit-scrollbar {
    width: 0px;
}

.row {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}

.dropdown {
    position: relative;
    margin-bottom: 0;
}

.link a {
    text-decoration: none;
    color: black;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    display: block;
}

.intro {
    flex-grow: 1;
    overflow-y: auto;
    height: 50%;
    padding-right: 12px;
}

.dropdown-header {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.5s ease;
}

.dropdown-content.open {
    display: block;
    height: auto;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.hahaha{
    font-kerning: none;
    font-feature-settings: "liga" 0;
    color: #1d1d1d;
    text-decoration: underline;
}

span {
    border-right: 11px solid;
    color: rgb(0, 0, 0);
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  


    